{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "start"
    },
    {
      text: "sign in",
      href: "email"
    }
  ]
}) }}

<!--  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}-->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check your email
      </h1>

      <form class="form" action="content" method="post">
        <p>
          A confirmation code has been sent to [email]<br>
          <p>Check your spam and trash folder if you cannot find the email.</p>
          <p>You can also <a href="https://design-system.service.gov.uk">request another confirmation code</a>
        </p>
        
        {{ govukInput({
          label: {
            text: "Confirmation code"
          },
          classes: "govuk-input--width-5",
          id: "event-name",
          name: "eventName"
        }) }}

        <!--
        {{ govukPasswordInput({
          label: {
            text: "Password"
          },
          id: "password-input",
          name: "password"
  
        }) }}      -->

    
        <!--{{ govukPasswordInput({
          label: {
            text: "Password"
          },
          id: "password-input",
          name: "password"
        }) }}-->
        {{ govukButton({
          text: "Continue"
        }) }}



      </form>

    </div>
  </div>

{% endblock %}
