{% extends "layouts/main.njk" %}

{% block pageTitle %}
  Sign into your account – {{ serviceName }}
{% endblock %}

{% set pageName="Sign into your account" %}

{% block beforeContent %}

  {% include "includes/phasebanner.html" %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "start"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>
      <form class="form" action="check-email" method="post">
        <p>
          {{ govukInput({
            label: {
              text: "Email address"
            },
            classes: "govuk-input--width-20",
            id: "[new][emailAddress]",
            name: "[new][emailAddress]",
            type: "email",
            autocomplete: "emailAddress",
            spellcheck: false
          }) }}
       

          <!--[Insert question content here - see the
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
          for examples]-->
        </p>
        <!--{{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: "Enter your current email address"
          },
          id: "email",
          name: "email",
          type: "email",
          value: "Not an email address",
          autocomplete: "email",
          errorMessage: {
            text: "Enter an email address in the correct format, like name@example.com"
          },
          spellcheck: false
        }) }}-->
        

        <!--
        {{ govukPasswordInput({
          label: {
            text: "Password"
          },
          id: "password-input",
          name: "password"
  
        }) }}      -->

    
        <!--{{ govukPasswordInput({
          label: {
            text: "Password"
          },
          id: "password-input",
          name: "password"
        }) }}-->
        {{ govukButton({
          text: "Continue"
        }) }}



      </form>

    </div>
  </div>

{% endblock %}
