{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
 {{ serviceName }} 
{% endblock %}

{% set pageName="Prototype" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>
    <p><a href="/v1/start">Go to the first page of the prototype</a></p>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

{{ govukSummaryList({
  card: {
    title: {
      text: "Session 1"
    }
  },
  rows: [
    {
      key: {
        text: "Features"
      },
      value: {
        html: "Headers<br>Back link<br>Buttons"
      },
      actions: {
        items: [
          {
            href: "v1",
            text: "View",
            visuallyHiddenText: "view prototype"
          }
        ]
      }
    },
    {
      key: {
        text: "User journeys"
      },
      value: {
        html: "Onboarding the journeys"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Lucid board",
            visuallyHiddenText: "View user journeys in Lucid"
          }
        ]
      }
    },
    {
      key: {
        text: "Design decisions"
      },
      value: {
        html: "Understanding how to implement each of these features"
      },
      actions: {
        items: [
          {
            href: "#",
            text: " ",
            visuallyHiddenText: " "
          }
        ]
      }
    }
  ]
}) }}
<!---
{{ govukSummaryList({
  card: {
    title: {
      text: "Person 2"
    }
  },
  rows: [
    {
      key: {
        text: "Details known"
      },
      value: {
        html: "Yes"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "whether details are known"
          }
        ]
      }
    },
    {
      key: {
        text: "Relationship to lead tenant"
      },
      value: {
        html: "Partner"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "relationship to lead tenant"
          }
        ]
      }
    },
    {
      key: {
        text: "Age"
      },
      value: {
        html: "42"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "age"
          }
        ]
      }
    },
    {
      key: {
        text: "Working situation"
      },
      value: {
        html: "Unable to work because of long-term sickness or disability"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "working situation"
          }
        ]
      }
    }
  ]
}) }}-->

</div>
{% endblock %}
